[include mainsail.cfg]
[include toolhead_ebb36.cfg]
[include stealthburner_leds.cfg]
[include kiauh_macros.cfg]
#[include clean_nozzle.cfg]
[include mainsail.cfg]
#[include klicky-probe.cfg]
#[include calibrate_z.cfg]
[include neopixel.cfg]
#[include color_change.cfg]
[include test_speed.cfg]
[include sensorless.cfg]
[exclude_object]



[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0A0011000650534E4E313120-if00
canbus_uuid: 67a0515bc7e0

[mcu EBBCan]
canbus_uuid: 50e24b411bb3

#[mcu rpi]
#serial:/tmp/klipper_host_mcu

[adxl345]
#cs_pin: rpi:None 


[resonance_tester]
accel_chip:adxl345
probe_points:
  150,150,20

[input_shaper]
shaper_freq_x: 72
shaper_type_x: mzv
shaper_freq_y: 46
shaper_type_y: mzv

[printer]
kinematics: corexy
max_velocity: 6000 
max_accel: 15000           #Max 4000
max_accel_to_decel: 7500
max_z_velocity: 37         #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[stepper_x]
# B Stepper
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: !PG6
endstop_pin: tmc2209_stepper_x:virtual_endstop

position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100
homing_retract_dist: 0
homing_positive_dir: true


[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 143





[stepper_y]
# A Stepper
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
#endstop_pin: !PG9
endstop_pin: tmc2209_stepper_y:virtual_endstop

position_min: 0
position_endstop: 300
position_max: 308
homing_speed: 75  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9     # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 143 # 255 is most sensitive value, 0 is least sensitive



# Z0 Stepper - Front Left
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
#endstop_pin: PG10
endstop_pin: probe:z_virtual_endstop
#   Z_MIN on mcu_z
#position_endstop: 0
#   Offset (in mm) for nozzle to bed off z switch
position_max: 300
position_min: -15
#   Set to -2 to allow room for squaring gantry with quad_gantry_level
homing_speed: 10.0
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
#position_endstop = 4.850.  ###WORKING BEFORE Auto_Z_OFFSET


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3

[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0

#[extruder]
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#rotation_distance: 21.97394   #Bondtech 5mm Drive Gears
#gear_ratio: 50:17               #BMG Gear Ratio
#microsteps: 32
#full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
#nozzle_diameter: 0.400
#filament_diameter: 1.75
#heater_pin: PA2
#sensor_type: Generic 3950
#sensor_pin: PF4
#min_temp: 10
#max_temp: 270
#max_power: 1.0
#min_extrude_temp: 170
#pressure_advance: 0.045
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

#[tmc2209 extruder]
#uart_pin: PE1
#interpolate: false
#run_current: 0.5
#sense_resistor: 0.110

[probe]
pin: ^EBBCan:LIMIT_3
#pin: PG15
x_offset: 0
y_offset: 0
speed: 5
samples: 3
sample_retract_dist: 1
lift_speed: 15.0
samples_result: median
samples_tolerance: 0.006
samples_tolerance_retries: 5
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[safe_z_home]
home_xy_position: 150, 150
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 10
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
z_hop_speed: 15.0
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.


#[probe]
#pin: PG15
#x_offset: 0
#y_offset: 21.00
#z_offset: 6.42
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3
#pin: PG15

#[fan]
##  Print Cooling Fan - FAN0
#pin: PD14
#kick_start_time: 0.5
#off_below: 0.10

#[heater_fan hotend_fan]
##  Hotend Fan - FAN1
#pin: PA8
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0


#[controller_fan controller_fan]
##  Controller fan - FAN2
#pin: PD12
#kick_start_time: 0.5
#heater: heater_bed

#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[heater_bed]

heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#[homing_override]
#axes: z
#set_position_z: 0
#gcode:
#   G90
#   G0 Z5 F600
#   G28 X Y
#   G0 X210 Y310 F3600
#   XY Location of the FSR Switch
#   G28 Z
#   G0 Z10 F1800
#   G0 X125 Y125 Z20 F3600

[quad_gantry_level]
#   Use QUAD_GANTRY_LEVEL to level a gantry.
gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,50
   50,250
   250,250
   250,50
speed: 300
horizontal_move_z: 3
retries: 20
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 500
horizontal_move_z: 10
mesh_min: 40, 40
mesh_max: 260,260
fade_start: 0.6
fade_end: 10.0
probe_count: 7,7
algorithm: bicubic
relative_reference_index: 24

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################


[display]
##  mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel fysetc_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4




###   Macros   ###
#[gcode_macro CALIBRATE_Z]
#rename_existing: BASE_CALIBRATE_Z
#gcode:
#    ATTACH_PROBE
#    M117 Z-Calibration..
#    BASE_CALIBRATE_Z
#    DOCK_PROBE

#    M117
  

[gcode_macro G32]
gcode:
    STATUS_LEVELING
    M117 Leveling Gantry           ; display message
    QUAD_GANTRY_LEVEL
    G28
    M117 Moving to Safe Position           ; display message
    G0 X150 Y250 Z10 F6000

#    Stealthburner Statuses
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - PLEASE CUSTOMISE THE SCRIPT FOR YOUR SLICER OF CHOICE
gcode:
    #BED_MESH_CLEAR
    G90
    STATUS_HOMING
    Set_LED led=my_neopixel RED=0 Green=0 Blue=1 Transmit=1
    M117 Homing...                 ; display message
    G28                            ; home all axes
    {% set bedtemp = params.BED_TEMP|int %} 
    {% set hotendtemp = params.NOZZLE_TEMP|int %}
    G32
    STATUS_HEATING
    Set_LED led=my_neopixel RED=1 Green=0 Blue=0 Transmit=1
    M117 Short Bed Heatsoak           ; display message
    M190 S{bedtemp} 
   
    M117 Heating Nozzle         ; display message
    M109 S{hotendtemp} 
    #M117 Calibrating Bed Mesh
    #BED_MESH_CALIBRATE
    STATUS_READY
    Set_LED led=my_neopixel RED=1 Green=1 Blue=1 Transmit=1
  
   # M117 Cleaning Nozzle           ; display message
   # clean_nozzle
   # G28
   # G0 X150 Y250 Z10 F6000
   # M117 Probing Z Offset
   # CALIBRATE_Z
   # G0 x150 Y250 Z15
   # SET_LED led=my_neopixel Red=1 Green=.35 Blue=.1 transmit=1
   # M117 It's Go Time!          ; display message
    
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - PLEASE CUSTOMISE THE SCRIPT FOR YOUR SLICER OF CHOICE
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing

    G1 E-4.0 F3600
    M104 S0                        ; turn off hotend
    M140 S0                        ; turn off bed
    M106 S0                        ; turn off fan
    G1 Z20 F3000                   ; move nozzle up 20mm
    G90                            ; absolute positioning
    # G28 X Y            ; park nozzle at rear
    G0 X150 Y200    ;park nozzle near the front *makes for better xy homing on next print
    M117 Finished!                 ; display message
    Set_LED led=my_neopixel RED=0 Green=0 Blue=0 Transmit=1
    STATUS_OFF


[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F300
    G1 E-780 F1800
    M82

[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E750 F1800
    G1 E30 F300
    G1 E15 F150
    M82

[gcode_macro Preheat_ABS]
gcode:
    Set_LED led=my_neopixel RED=1 Green=0 Blue=0 Transmit=1
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=245
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110



[gcode_macro Work_On_ToolHead]
gcode:
    G90
    G0 x150 y150 z200 f20000

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.873
#*# pid_ki = 1.240
#*# pid_kd = 304.665
#*#
#*# [extruder]
#*#
#*# [stepper_z]
#*#
#*# [probe]
#*# z_offset = -0.693
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.010000, 0.021250, 0.012500, -0.021250, -0.015000, -0.013750, -0.018750
#*# 	-0.013750, -0.043750, -0.013750, -0.026250, -0.030000, -0.001250, 0.013750
#*# 	-0.053750, -0.041250, -0.047500, -0.038750, 0.017500, -0.043750, -0.033750
#*# 	-0.050000, -0.056250, -0.056250, 0.000000, -0.038750, -0.053750, 0.011250
#*# 	0.011250, -0.076250, -0.030000, -0.055000, -0.055000, -0.067500, 0.006250
#*# 	-0.028750, -0.030000, -0.025000, -0.036250, -0.020000, -0.041250, -0.038750
#*# 	-0.033750, -0.000000, -0.003750, -0.032500, -0.006250, -0.008750, -0.017500
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 7
#*# max_y = 259.96
#*# mesh_x_pps = 2
#*# max_x = 259.96
