## BOARD PINS
[board_pins EBB36_G0B1_v1.1] 
mcu: EBBCan
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    #HE0=PA2
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## EBBCan
[mcu EBBCan]
canbus_uuid: 50e24b411bb3

## EBBCan
[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: EBBCan

## HOT END FAN
[heater_fan hotend_fan]
pin: EBBCan:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan]
pin: EBBCan:FAN1
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

## EXTRUDER 
[extruder]
step_pin: EBBCan:EXT_STEP
dir_pin: !EBBCan:EXT_DIR
enable_pin: !EBBCan:EXT_EN
#rotation_distance: 22.67895 #for 5mm Shaft Driven Bondtech gearsets
rotation_distance: 22.90574 #Tuned
gear_ratio: 50:10 #for sherpa mini 8t motor
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.0617
heater_pin: EBBCan:HE0
sensor_pin: EBBCan:TH0
sensor_type: Generic 3950
control: pid
pid_Kp: 17.056
pid_Ki: 0.881
pid_Kd: 82.510
min_temp: -50
max_temp: 275

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: EBBCan:EXT_UART
stealthchop_threshold: 0
run_current: 0.30

## ADXL345
[adxl345]
cs_pin: EBBCan:ADXL_CS
spi_software_sclk_pin: EBBCan:ADXL_SCLK
spi_software_mosi_pin: EBBCan:ADXL_MOSI
spi_software_miso_pin: EBBCan:ADXL_MISO
axes_map: x,y,z





## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: EBBCan:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430


